@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
:root{
  --matte-black: #17252A;
  --myrtle-green:#2B7A78;
  --light-green:#3AAFA9;
  --light-beige:#C5C6C7;
  --azure-white:#DEF2F1;
  --white: #FEFFFF;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style:none;
  font-family: 'Roboto Slab', serif;

}
::-webkit-scrollbar{
  display: none;
}

body {
  position: relative;
  min-height: 100vh;
  
}


.navbar{
  background-color:#222532;
  color: var(--white);
}
.navbar-brand-link{
  color: var(--white);
  text-decoration: none;
}
.navbar-brand-link:hover{
  color: orangered;
  
}
.navbar-links {
  text-decoration: none;
}
.nav-link{
  border: 1px solid #222532;
}
.nav-link:hover{
  border-bottom: 1px solid orangered;
  transition: transform .5s;
}
  
.nav-link a{
  text-decoration: none;
  color: var(--white);
  
}
.nav-link a:hover{
  color: orangered;
 
}
.home-page-container{
  overflow-x: hidden;

}

.banner-page-container {
  background: #222532;
  position: relative;
  height: 100%;
}
.profile-image{
  width: 300px;
  height: 300px;
}
.greeting-column-container{
  color:var(--white)
}
.featured-project-container{
  background:var(--azure-white);
  height: 100%;
  color:  rgb(114, 96, 96);
}
.project-slides-container{
  background: #222532;
 
}

.carousel-container{
  width: 300px;
  height: 5000px;

}
.project-slide-image{
  width: 40%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}
.slide-texts{
  color: black;
}
.page-footer-container{
  background:#222532;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer{
  color: var(--azure-white);
  font-size:small;
}
.social-media-container{
  background: #222532;
 
  
}
.social-title{
  color: var(--white);
}
.social-subtitle{
  color: var(--white);
}
.social-icon{
  font-size: x-large;
  color: white;
}
.social-link{
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
}
.social-link:hover{
  color: var(--myrtle-green)
}
.page-heading-container {
  background: #222532;
  color: var(--white);
}
.about-page-container{
  overflow-x: hidden;
  background: var(--azure-white);

}
.about-info-container{
  overflow-x: hidden;
  background:var(--azure-white);
  color: var(--matte-black);
  font-family: Arial, Helvetica, sans-serif;
}

.button-link{
  text-decoration: none;
  color: white;
}
.button-link:hover{
  color: var(--azure-white)
}
.portfolio-page-container{
  background: var(--azure-white);
  color:  rgb(114, 96, 96);
}
.project-image{
  width: 250px;
  height: 250px;
}
.contact-page-container{
  background: var(--azure-white);
  height: 100vh;
  overflow-x: hidden;
}
.portfolio-page-container{
  overflow-x: hidden;

}

.mobile-navigation{
  display: none;
}

@media (max-width: 768px){
  .navigation {
    display: none;
  }
  .mobile-navigation {
    display: grid;
  }
  .greeting-subtext{
    font-size: large;
  }
  .greeting-column-container{
    padding: 0;
  }
  ::-webkit-scrollbar{
    display: none;
  }

  .description{
    font-size: small;
  }
  
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background:orangered;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  height: 100%;
  
}

/* General sidebar styles */
.bm-menu {
  background:#222532;
  font-size: 35px;
 
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: black;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}


/* Individual item */
.bm-item {
  display: inline-block;
}

.swiper-container {
  width: 100%;
  height: 100%;
  background: #222532;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background:#222532;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: cover;
}


.card:hover{
  border-color: orangered;
  transform: scale(1.02);
  transition: transform .5s;
}